* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.dash-container {
    display: flex;
    height: 100vh;
}

.dash-menu {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.dash-menu h1 {
    margin-bottom: 30px;
    font-size: 24px;
}

.dash-menu h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.dash-menu ul {
    list-style: none;
}

.dash-menu ul li {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #f9f9f9;
}

.dash-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.dash-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-y: auto;
}

.dash-content p {
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

.dash-graphs {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-auto-rows: min-content;
}

.dash-graphs h2 {
    grid-column: 1 / -1;
    margin-bottom: 0;
}

.dash-graphs p {
    background: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-KPI {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dash-KPI h2 {
    margin-bottom: 15px;
}

.dash-KPI p {
    background: white;
    padding: 20px 40px;
    border: 1px solid black;
    width: 100%;
    max-width: 300px;
    margin-bottom: 45px;
}
